<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Todo app in angular</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" type="text/css" href='main.css'>
</head>

<body ng-app="todo">
  <div ng-controller="ListController">

    <input type="text" ng-model='name' ng-keypress="enterKeyHandler($event)">
    <button type="button" ng-click="addItem(name)">Add</button>
    <button type="button" ng-click="resetItems()">Reset</button>
    <ul id='list'>
      <li ng-repeat="item in list track by $index">
        <input type="checkbox" ng-model="done">
        <span ng-class="{'tick':done}"> {{item}}</span>
        <button type="button" ng-click="removeItem(item)">x</button>
      </li>
    </ul>
  </div>
</body>

</html>